<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Car Dealz</title>
</head>
<body>
    <header class="d-flex flex-column">
        <div class="d-flex flex-row">
            
        </div>
        
        
        <div class="nav">
            <nav style="margin-left: 90%;" class="col-1 d-flex flex-row justify-content-end">
                <a href="/dashboard" class="btn btn-primary m-2">Dashboard</a>
                <a href="/logout" class="btn btn-warning m-2">Logout</a>
            </nav>
        </div>
    </header>
    <main class="d-flex flex-column m-5">
        <div style="margin-right: 25%; margin-left: 25%;" class="w-50 bg-danger justify-content-center align-text-center">
            {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h6 class="text-light text-center">{{message}}</h6>
                        {% endfor %}
                    {% endif %}
            {% endwith %}
        </div>
        <h2 style="margin-right: 75%;">Put Car Up For Sale</h2>
        <div class="content d-flex flex-column bg-secondary w-75 h-75 p-5">
            
            <form action="/createCar/new" method="post" class="col-8 p-5 m-5 text-light">
                
                
                
                <div class="d-flex flex-column bg-secondary justify-content-left col-8">
                    <div class="d-flex flex-column form-group justify-content-left">
                        <label for="price">Price:</label>
                        <input type="number" name="price" id="price">
                    </div>
                    <div class="form-group d-flex flex-column justify-content-left">
                        <label for="model">Model:</label>
                        <input type="text" name="model">
                    </div>
                    <div class="d-flex flex-column form-group justify-content-left">
                        <label for="make">Make:</label>
                        <input type="text" name="make">
                    </div>
                    <div class="d-flex flex-column form-group justify-content-left">
                        <label for="year">Year:</label>
                        <input type="number" name="year" id="modelYear">
                    </div>
                    <div class="d-flex flex-column form-group justify-content-left">
                        <label for="description">Description:</label>
                        <textarea class="overflow-scroll h-50" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Add">
                    </div>
                </div>
            </form>
    </main>
</body>
</html>