<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
    <header class="d-flex flex-column justify-content-between">
        <div id="pageTop" class="d-flex flex-row justify-content-between">
            
            <h1>{{user.last_name}}'s' Purchases</h1>
        </div>
        
        
        <div class="nav">
            <nav style="margin-left: 90%;" class="col-1 d-flex flex-column justify-content-end">
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                <a href="/logout" class="btn btn-warning m-2">Logout</a>
            </nav>
        </div>
    </header>
    <main class="d-flex flex-column w-75 m-5">
        <h2>Cars for Sale</h2>
        <table class="table table-dark tabled-striped w-75">
            <thead class="border-bottom">
                <th class="w-25">Make</th>
                <th class="w-25">Model</th>
                <th class="w-25">Year</th>
                
            </thead>
            <tbody>
                {% for car in purchased_cars %}
                   
                    <tr>
                        <td class="w-25">{{car.user.make}}</td>
                        <td class="w-25">{{car.model}}</td>
                        <td class="w-25">{{car.year}}</td>
                    
                    </tr>
                
                
            {% endfor %}
            </tbody>
        </table>
        
    </main>
</body>
</html>